<ion-view view-title="Sales Targets">
  <ion-content class="padding">
      <div class="list">

          <a class="item item-icon-left" href="#/tab/thesalestargets/2">
              <i class="icon ion-iphone"></i>
              Prospects              
          </a>

          <a class="item item-icon-left" href="#/tab/thesalestargets/3">
              <i class="icon ion-heart"></i>
              Leads
          </a>

          <a class="item item-icon-left" href="#/tab/thesalestargets/4">
              <i class="icon ion-person-stalker"></i>
              Opportunities              
          </a>

          <a class="item item-icon-left" href="#/tab/thesalestargets/5">
              <i class="icon ion-speedometer"></i>
              Accounts
          </a>

          <a class="item item-icon-left" href="#/tab/thesalestargets/6">
              <i class="icon ion-sad-outline"></i>
              Inactive
          </a>

      </div>

    
  </ion-content>
</ion-view>
