<ion-view view-title="Activities">
    <ion-content class="padding">
        <ion-list>

            <a class="item item-icon-left" href="#/tab/masteractivities">
                <i class="icon ion-arrow-expand"></i>
                Activities
            </a>

            <a class="item item-icon-left" href="#/tab/calendarevents">
                <i class="icon ion-calendar"></i>
                Calendar
            </a>

            <a class="item item-icon-left" href="#/tab/mileagelogentries">
                <i class="icon ion-model-s"></i>
                Mileage
            </a>

            <a class="item item-icon-left" href="#/tab/expenses">
                <i class="icon ion-card"></i>
                Expenses
            </a>

        </ion-list>
    </ion-content>
</ion-view>
