
/*

*/

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td,
    #no-more-tables tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    #no-more-tables tr { border: 1px solid #ccc; }

    #no-more-tables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:left;
    }

    #no-more-tables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:left;
        font-weight: bold;
    }

    /*
    Label the data
    */
    #no-more-tables td:before { content: attr(data-title); }
}

/* when you show a bootstrap modal it changes the overflow setting.  The below keeps us scrolling after a show */

.modal-open {
    overflow: scroll;
}

.ld-br {
    background-color: grey;
    height: 2px;
}

.row-ld {
    background-color: #9A5A32;
}

.row-videos {
    background-color: #868686;
}

.row-footer {
    background-color: black;
}

.somevertspace {
    margin-bottom: 50px;
}

.somesmallervertspace {
    margin-bottom: 25px;
}

.offerfont {
    font-size: 28px;
    font-color: #868686;
}

.welcome-msg {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    color: white;
    text-align: center;
}

.f_title {
    color: white;
}

.clickable {
    cursor: pointer;
}

.spaceattop {
    margin-top: 20px;
}

.largeexplanation {
    font-size:large;
}

.pricingmargin {
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
}

.threequartersizeimage {
    width: 75%;
    height: 75%;
}

.halfsizeimage {
    width: 50%;
    height: 50%;
}

.quartersizeimage {
    width: 25%;
    height: 25%;
}

.tenthsizeimage {
    width :10%;
    height: 10%;
}

.graphicalftandrightmargin {
    margin-right: 25px;
    margin-left: 25px;
}

.hideitall {
    display: none;
}
