<ion-view view-title="Add Team" name="actionchoices-view" hide-back-button="true">
    <ion-content class="padding">
        
        <label class="item item-input">
            <input type="text" placeholder="Team Name" required ng-model="teamname">
        </label>
         <button class="button button-block button-standard icon-left" type="submit" ng-click="onCreateTeam()">Create Team</button>
            
                <button class="button icon-left button-block" ng-click="onBack()">Cancel</button>

</ion-content>
</ion-view>