<ion-view view-title="Send a Frown">
    <ion-content class="padding">
        <div class="card">
            <div class="item item-text-wrap">
                We are sorry you found something you don't like about our product.  Please enter your issue below and thank you for letting us know!
            </div>
        </div>        
        <label class="item item-input">
            <textarea rows="4" cols="50" placeholder="Frown Information" required ng-model="frownreport"></textarea>
        </label>
        <button class="button button-block button-standard" type="submit" ng-click="onSubmitFrown()">Submit</button>
    </ion-content>
</ion-view>
