<ion-view view-title="Setup">

    <ion-content class="padding">
        <ion-list>

            <a class="item item-icon-left" href="#/tab/teamjoinrequests" ng-style="{'display' : dohide}">
                <i class="icon ion-fork-repo"></i>
                Team Join Requests
            </a>

            <a class="item item-icon-left" href="#/tab/currentteam">
                <i class="icon ion-fork-repo"></i>
                Current Team
            </a>

            <a class="item item-icon-left" href="#/tab/teams">
                <i class="icon ion-clipboard"></i>
                Teams
            </a>

            <a class="item item-icon-left" href="#/tab/currentcampaign">
                <i class="icon ion-ios-pulse-strong"></i>
                Current Campaign
            </a> 

            <a class="item item-icon-left" href="#/tab/campaigns" ng-style="{'display' : dohide}">
                <i class="icon ion-ios-pulse-strong"></i>
                Campaigns
            </a>            
           
            <a class="item item-icon-left" href="#/tab/organization" ng-style="{'display' : dohide}">
                <i class="icon ion-person-stalker"></i>
                Organization
            </a>

            </ion-list>
        </ion-content>

</ion-view>